<style>
/* prefixing flexbox */
@mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  
  @mixin flex($values) {
    -webkit-box-flex: $values;
    -moz-box-flex:  $values;
    -webkit-flex:  $values;
    -ms-flex:  $values;
    flex:  $values;
  }
  
  @mixin order($val) {
    -webkit-box-ordinal-group: $val;  
    -moz-box-ordinal-group: $val;     
    -ms-flex-order: $val;     
    -webkit-order: $val;  
    order: $val;
  }
  
  .wrapper {
    @include flexbox();
  }
  
  .item {
    @include flex(1 200px);
    @include order(2);
  }

  /* clear float */
  .clear-float {
    clear:both;
  }

  /* body font */

 body {
    font-family: 'Times New Roman', Times, serif;
} 

/*header style */
#space {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 1000;
  font-size: 14px;
  color:black;
  margin-top: -15px;
}

#space:link {
  text-decoration: none;
  }
#space:hover {
  text-decoration: underline;
}
#up {
    display: flex;
    align-items: baseline;
    align-content: center;    
    justify-content: space-between;
    justify-self: center;
    padding: 5px;
    heigth: 30px;
    font-family: 'Times New Roman', Times, serif;
    width: 90%;
    margin: 0px 100px 0 100px;
    position: fixed;
}
#left {
    display: inline;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 1000;
    font-size: 12px;
    margin-left: 100px;
}
#center {
margin: auto;
    
}
#right {
    display: inline;
    margin-right: 100px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 1000;
    font-size: 12px;
}

 .two {
    border: none;
    background-color: transparent;
}
.sub-log {
    background-color: #567b95;
    border: 1px solid #32689;
    border-radius: 10%;
    font-size: 11px;
    color: white;
    height: 30px;
    top: 0%;
}

/* main style */

main {
  clear: both;
  }
#space {

}
#menu
#magnifier {

}
ul {
    list-style-type: none;
}

    .inline, .a-lot-last{
    display: inline;
}
.v-line {
border-left: 1px solid grey;
}
/* aside*/
.aside-bar {
  whidth: auto;
}
.aside-img {
  width: 75px;
  height: 75px;
}
.aside-right {
  width: 150px;
}