/* general stuff */
  
.clear-float {
  clear:both;
  }
.credit {
  font-size: 16px;
  }
figcaption {
  font-size: 19px;
  }
ul {
  list-style-type: none;
  }

.black {
  color: black;
}
.inline1, .inline, .a-lot-last, .li-down {
  display: inline;
  }
.blue-text {
    color:blue;
  }
.short-line {
    color:#d3d3d3;
    width: 70px;
  }
a {
  color: #567b95;
}
.strong {
  font-weight: bold;
}
.gray-no-underline {
  color: #333;
  text-decoration: none;
}
.gray-no-underline:hover {
  text-decoration: underline;
}

.short-line {
  color:#d3d3d3;
  width: 70px;
}

  /* body font */

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 22px;
  color: #333;
  line-height: 28px;
  } 

/*header style */
#space {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 1000;
  font-size: 14px;
  color:black;
  margin-top: -15px;
  }

#space:link {
  text-decoration: none;
  }
#space:hover {
  text-decoration: underline;
  }
#up {
  display: flex;
  align-items: baseline;
  align-content: center;    
  justify-content: space-between;
  justify-self: center;
  padding: 5px;
  font-family: 'Times New Roman', Times, serif;
  width: 90%;
  margin: 0px 100px 0 100px;
  position: fixed;
  border: 1px, solid, #d3d3d3;
  background-color: #fff;
  }
#left {
  display: inline;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 1000;
  font-size: 12px;
  margin-left: 100px;
  }
#center {
  margin: auto;
  }
#right {
  display: inline;
  margin-right: 100px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 1000;
  font-size: 12px;
  }

.two {
  border: none;
  background-color: transparent;
  }

.sub-log {
  background-color: #567b95;
  border: 1px solid rgb(50, 104, 145);
  border-radius: 10%;
  font-size: 11px;
  color: white;
  height: 30px;
  top: 0%;
  }

/* main style */
main {
  font-family: 'Times New Roman', Times, serif;
  width: 30%;
  margin:auto;
  }

h1 {
  font-size: 40px;
  font-style: italic;
  font-weight: 800;
  width: 100%;
  margin: auto;
  line-height: 50px;
  color:black;
  }

.inline1 {
  width: 15px;
  height: 15px;
  margin: 0 5px 0 5px;
  padding: 3px;
  border-radius: 100%;
}
.inline1:hover {
  border: 1px solid #999;
}
.inline1:active {
  border: 1px solid #333;
}

#main-fig {
  margin: 0 -150px 0 -300px;
  align-self: center;
  width: 200%;
  height: auto;
  }
 
#main-image {
  width: 100%;
  height: 100%;  
  }

#autor {
  font-size: 18px;  
}
#strong {
  font-weight: bold;
  text-decoration: none;
  color: #333;  
}

#line1 {
  color:#d3d3d3;
}

#sign-up {
  display:flex;
  width: 100%;
}
#sign-p{
  font-size: 18px;
  font-style: italic;
}
#sign-span {
  font-style: normal;
  font-weight: bold;
}
#su-div {
  float: right;
  width: 120px;
}
#si-u-btn {
  font-size: 15px;
  font-weight: 600;
  width: 100%;
  height: 30px;
  padding: 0;
  background-color: #fff;
  border-radius: 2%;
  border: 2px solid black;
}

#subscribe {
font-size: 16px;
font-weight: bold;
text-align: center;
}

/*chart style*/
#chart {
  height: fit-content;
  width: fit-content;
  margin-right: -300px;
  margin-left: -350px;
  background: #fff;
}
h3 {
  font-size: 23px;
  font-weight: bold;

}
#inflation-grid {
  display: grid;
  background-image: url("pics/chart1.png");
  background-size: auto;
  width:1399px;
  height: 853px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 200px);
  row-gap: 60px;
  
}
.p-chart {
  font-size: 18px;
  }

.left-justify {
float: left;
margin-top: -20px;
}

#down-fig {
  display:flex;
  width: 130%;
  height: auto;
  align-self: center;
  margin-left: -90px;
  }

#down-image {
  width: 100%;
  }

.article-end {
  font-size: 13px;
  }

#comments-btn {
  background-color: #567b95;
  border: 1px solid rgb(50, 104, 145);
  font-size: 12px;
  font-weight: 600;
  color: white;
  width: 330px;
  height: 40px;
  margin-right: 30px;
  }

/* aside style */

#aside-bar {
  float:right;
  margin-right: -250px;
  margin-top: -1300%;
  font-size: 15px;
  }

.aside-item {
  display:flex;
} 
#aside-line {
  width: 100%;
  color:#d3d3d3;
}

.aside-img {
  width: 75px;
  height: 75px;
  }
.aside-right {
  width: 150px;
  float: right;
  margin-left: 20px;
  align-self: center;
  }
#grey-link {
  color: #333;
  text-decoration: none;
  }
#grey-link:hover {
  text-decoration: underline;
  }

/*footer css */

#foot-nav {
  width: 63%;
  background-color: white;
  display:flex;
  flex-direction: row;
  margin: auto;
  justify-content: space-between;
  border-top: 2px solid #d3d3d3;
  
}
#home-page {
  font-size: 14px;
  text-decoration: none;
}

#columns {
  display: grid;
  width: 63%;
  grid-template-columns: repeat(6, 1fr);
  margin:auto;
}
label {
  font-size: 12px;
  font-weight: bolder;
}
.a-lot, .a-lot-big {
  font-size: 12px;
  color: #333;
  text-justify: left;
  }

.a-lot-small {
  font-size: 11px;
  text-justify: left;
  margin-left: 10px;
  }

.a-lot-big {
  margin-left: 10px;
  }
#column6 {
  display: flex;
  flex-direction: column;
  justify-content: left;
  justify-items: left;
  border-left: 1px solid #d3d3d3;
  }
.marg-top {
  margin-top: 10px;
  }
.bor-top {
  border-top: 1px solid #d3d3d3;
  }
.link-last {
  font-size: 11px;
  text-decoration: none;
  color: #333;
  }
.link-last:hover {
  text-decoration: underline;
  }
  #last {
    display:flex;
    width: 63%;
    margin: auto;
    justify-self: center;
    justify-content: space-evenly;
    border-top: 1px solid #d3d3d3;
  }
